<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" (click)="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">MEAN.JS</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" if="menu.shouldRender(authentication.user);">
			<li repeat="item in menu.items | orderBy: 'position'" if="item.shouldRender(authentication.user);"class="" dropdown="item.type === 'dropdown'">
			</li>
		</ul>
	</nav>
</div>
